[
  {emqx_plugin_kafka, [
    %% -----------------------------------------------------------------
    %% 重点：直接写 "kafka"，这是 docker-compose.yaml 里的服务名
    %% 端口写 29092 (这是我们在 docker-compose 里配置的内部专用端口)
    %% -----------------------------------------------------------------
    {kafka_address_list, [{"kafka", 29092}]}, 

    {kafka_config, [
      {reconnect_cool_down_seconds, 10},
      {query_api_versions, true}
    ]},
    {topic, <<"emqx-topic">>},
    {publish_base64, false}
  ]}
].
